/* Navbar */
nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

nav img {
  height: 60px;
  width: auto;
}

nav ul {
  text-decoration: none;
  color: black;
  font-weight: bold;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul a {
  text-decoration: none;
  color: black;
}

@media (min-width: 768px) {
  nav ul {
    display: flex;
    max-width: 500px;
    width: 100%;
    justify-content: space-between;
    padding-right: 20px;
  }
}

#hamburger {
  display: none;
}

@media (max-width: 767px) {
  nav {
    padding-right: 20px;
  }

  nav ul {
    display: none;
    max-width: 60vw;
    width: 100%;
    height: 100vh;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
  }

  nav ul.active {
    display: block;
  }

  nav ul li {
    padding: 20px;
  }

  #hamburger {
    display: block;
    height: 30px;
    width: auto;
  }

  #overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  #overlay.active {
    display: block;
  }
}

/* cards */

section {
  background-color: white;
}

.card {
  border-top: 5px solid rgb(253, 187, 48);
  border-bottom: 5px solid rgb(253, 187, 48);
  overflow: hidden;
  align-items: center;
}

.bottom {
  border-bottom: 0px;
}

.top {
  border-top: 0px;
}

.no-border {
  border-top: 0px;
  border-bottom: 0px;
}

.card img {
  width: 100%;
}

.card video {
  width: 100%;
}

figure {
  margin: 20px;
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.grid img {
  object-fit: cover;
  height: 100%;
}

blockquote {
  margin: 0;
  padding: 0;
}
/* body and general */
body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
}

.title {
  color: rgb(253, 187, 48);
  font-size: 68px;
  text-align: center;
  padding-bottom: calc(65vh - 80px);
  margin-top: 0;
  padding-top: 3vh;
}

h1 {
  color: rgb(134, 0, 56);
  font-size: 70px;
  text-align: center;
  padding-bottom: 40vh;
  padding-top: 40vh;
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 800;
  font-style: normal;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.wide-title {
  padding-bottom: 30vh;
  padding-top: 30vh;
}

.fig-video {
  padding-left: 15px;
}

iframe {
  border-width: 0px;
}

.yellow {
  color: rgb(253, 187, 48);
}

h2 {
  font-family: futura-pt-condensed, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
  color: rgb(134, 0, 56);
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 20px;
}

section a {
  text-decoration: none;
  color: rgb(134, 0, 56);
}

h3 {
  margin: 0;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 10px;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

ul {
  font-size: 20px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.quote {
  font-style: italic;
}

.arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

cite {
  font-size: 15px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .title {
    padding-top: calc(30vh - 80px);
    font-size: 90px;
  }

  h1 {
    padding-top: calc(50vh - 80px);
    font-size: 90px;
  }
  h3 {
    font-size: 30px;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
  }

  p {
    font-size: 20px;
  }

  .wide-title {
    padding-top: 40vh;
    padding-bottom: 40vh;
  }

  .speech {
    font-size: 25px;
  }

  .long-header {
    font-size: 40px;
  }

  h2 {
    margin-left: 20px;
    font-size: 50px;
    text-align: left;
  }
  .title {
    padding-bottom: calc(55vh);
  }

  .fig-video {
    width: 550px;
    height: 300px;
    padding-left: 75px;
  }

  cite {
    font-size: 25px;
    margin-left: 20px;
  }
}

/* bacground images */
.section-1 {
  background-image: url(./../images/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-attachment: fixed;
}

.section-2 {
  background-image: url(./../images/background-image-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-attachment: fixed;
}

.section-3 {
  background-image: url(./../images/background-image-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-attachment: fixed;
}

.section-4 {
  background-image: url(./../images/background-image-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-attachment: fixed;
}

.inside-image-1 {
  background-image: url(./../images/about-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-attachment: fixed;
}

.inside-image-2 {
  background-image: url(./../images/akron-uni.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-attachment: fixed;
}

.inside-image-3 {
  background-image: url(./../images/akron-skyline.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-attachment: fixed;
}

/* drop down */
#q1,
#q2,
#q3,
#q4,
#q5 {
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-family: futura-pt-condensed, sans-serif;
  font-size: 35px;
  transition: 0.5s;
  color: rgb(134, 0, 56);
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

#q1:hover,
#q2:hover,
#q3:hover,
#q4:hover,
#q5:hover {
  background-color: darkgray;
}

.link:hover {
  color: rgb(253, 187, 48);
}

#a1,
#a2,
#a3,
#a4,
#a5 {
  background-color: white;
  display: none;
  overflow: hidden;
}

#a1.active,
#a2.active,
#a3.active,
#a4.active,
#a5.active {
  display: block;
}
/*footer */
footer {
  background: white;
  color: rgb(134, 0, 56);
  padding: 20px 20px;
}

footer a {
  color: rgb(134, 0, 56);
}
